@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';
@import 'base/functions';

@import 'components/theme-indicator';


$maxPageWidth: 642;
$maxPageHeight: 351;
$minPageWidth: 200;
$minPageHeight: calc($minPageWidth * $maxPageHeight / $maxPageWidth);


$divider: 5; // 4 wrong!!!

$school_max_width: 619;
$school_max_height: 717;
$school_max_right: 146;
$school_max_top: 165;

// $road_max_width: 2863;
// $road_max_height: 1495;
// $road_max_right: 300;
// $road_max_top: 640;

$road_max_width: 2560;
$road_max_height: 900;
$road_max_right: 351;
$road_max_top: 883;


$boy_max_width: 254;
$boy_max_height: 400;
$boy_max_left: 179;
$boy_max_top: 858;//643; <<<<<


$teacher_max_width: 169;
$teacher_max_height: 289;
$teacher_max_right: 552;
$teacher_max_top: 684;

$family_max_width: 241;
$family_max_height: 360;
$family_max_left: 550;  //<<<< 
$family_max_top: 700;   //<<<<<

$treeTop_max_width: 177;
$treeTop_max_height: 418;
$treeTop_max_right: 50;
$treeTop_max_top: 524;

$treeBehind_max_width: 177;
$treeBehind_max_height: 418;
$treeBehind_max_right: 720;
$treeBehind_max_top: 467;

$respType: 0;

:root.light {
  @include spread-map($color-map-light);
  @include spread-map($control-color-map-light);
}
:root.dark {
  @include spread-map($color-map-dark);
  @include spread-map($control-color-map-dark);
}

.wrapper {
  min-height: 100vh; 
  height: 100%;
  display: flex;
  flex-direction: column;
  //background-image: url("../images/background.jpg");
  background-position: center center; 
  background-size: cover;
  background-attachment: fixed;
}


.page {
  //@include adaptive-value("width", $maxPageWidth, $minPageWidth, 0);
  //@include adaptive-value("height", $maxPageHeight, $minPageHeight, 0);
  
  display: flex;
  color:  control-color-var($--control-color-text);
  background-color: control-color-var($--control-color-page-back);
  min-height: 100vh; 
  width: 100%;
  padding: $space2x 0;
}

// .page_bg {
//  // background: url(../images/components/404/404_chemical.png) center / cover no-repeat fixed;
//   background: url(../images/components/404/404a.svg) center / cover no-repeat fixed;
//   background-color: control-color-var($--control-color-page-back);
//   background-size: contain;
// }

.page__body {
  //background-color: control-color-var($--control-color-page-scene-back);
  flex: 1 1 auto;
  max-width: calc($containerMaxWidthPX);
  max-height: calc($containerMaxHeightPX);
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //padding: 0 2-0px; // 1200 + 20+ 20 = 1240px max container width
  //overflow: hidden;
  //overflow-y: hidden;
  border: 5px solid #000;
}


.scene__wrapper{
  width: $containerMaxWidthPX;
  height: 100%;
  //background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  background-color: bisque;
  // position: fixed;
  // top: 0;

}

.header__inner{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: $headerHeight; //TODO auto resize
  
  
}

.menu-mobile{
  display: none;
}

.menu__list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: $space2x ;
  padding-left: $space2x;
 
}

.menu__link{
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2rem;  //TODO resize
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.main{
  //background-color: aqua;
  height: 100%;
}

.title-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: $space2x;
  padding: $space2x;
}

.title-container-mobile{
  display: none;
}

.main__title{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  letter-spacing: 0;
  border: 0;
  margin: 0;
  padding: 0;
 
}

.main__subtitle{
  font-family: 'Lora', serif;
  font-size: 1rem;
  margin-left: $space;

}

.main__item{
  background-color: rgb(6, 102, 27);
  //width: 100%;
  height: 5px;


 //align-content: stretch;
}

.item-container{
 // max-width: 100vw;
  //width: 100%;
  display: flex;
  flex-direction: column;
  //align-items: stretch;
}

.item-school{
  background-color: chartreuse;
}

.item-boy{
  background-color: chocolate;
}

.item-family{
  background-color: rgb(133, 170, 161);
}

.footer{
  position: relative;
  height: $footerHeight;
  min-height: $footerHeight;
  display: block;
  // bottom: 0;
  background-color: rgb(192, 127, 133);
}


.footer__text{

}



.pic-school{
  position: absolute;
  @include adaptive-value("width", $school_max_width, calc($school_max_width/$divider), $respType);
  @include adaptive-value("right", $school_max_right, calc($school_max_right/$divider) , $respType);
  @include adaptive-value("top", $school_max_top, calc($school_max_top/$divider), $respType);
  @include adaptive-value("height", $school_max_height, calc($school_max_height/$divider), $respType);
  z-index: 40;
}

.pic-road{
  position: absolute;
  @include adaptive-value("width", $road_max_width, calc($road_max_width/$divider), $respType);
  @include adaptive-value("right", $road_max_right, calc($road_max_right/$divider) , $respType);
  @include adaptive-value("top", $road_max_top, calc($road_max_top/$divider), $respType); 
 // @include adaptive-value("left", $road_max_left, calc($road_max_left/$divider), 0);
  @include adaptive-value("height", $road_max_height, calc($road_max_height/$divider), $respType);
  z-index: 40;
}


.pic-boy{
  position: absolute;
  @include adaptive-value("width", $boy_max_width, calc($boy_max_width/$divider), $respType);
  @include adaptive-value("left", $boy_max_left, calc($boy_max_left/$divider), $respType);
  @include adaptive-value("top", $boy_max_top, calc($boy_max_top/$divider), $respType);
  @include adaptive-value("height", $boy_max_height, calc($boy_max_height/$divider), $respType);
  z-index: 100;
}

.pic-teacher{
  position: absolute;
  @include adaptive-value("width", $teacher_max_width, calc($teacher_max_width/$divider), $respType);
  @include adaptive-value("right", $teacher_max_right, calc($teacher_max_right/$divider), $respType);
  @include adaptive-value("top", $teacher_max_top, calc($teacher_max_top/$divider), $respType);
  @include adaptive-value("height", $teacher_max_height, calc($teacher_max_height/$divider), $respType);
  z-index: 80;
}

.pic-family{
  position: absolute;
  @include adaptive-value("width", $family_max_width, calc($family_max_width/$divider), $respType);
  @include adaptive-value("left", $family_max_left, calc($family_max_left/$divider), $respType);
  @include adaptive-value("top", $family_max_top, calc($family_max_top/$divider), $respType);
  @include adaptive-value("height", $family_max_height, calc($family_max_height/$divider), $respType);
  z-index: 90;
}

.pic-treeTop{
  position: absolute;
  @include adaptive-value("width", $treeTop_max_width, calc($treeTop_max_width/$divider), $respType);
  @include adaptive-value("right", $treeTop_max_right, calc($treeTop_max_right/$divider), $respType);
  @include adaptive-value("top", $treeTop_max_top, calc($treeTop_max_top/$divider), $respType);
  @include adaptive-value("height", $treeTop_max_height, calc($treeTop_max_height/$divider), $respType);
  z-index: 70;
}

.pic-treeBehind{
  position: absolute;
  @include adaptive-value("width", $treeBehind_max_width, calc($treeBehind_max_width/$divider), $respType);
  @include adaptive-value("right", $treeBehind_max_right, calc($treeBehind_max_right/$divider), $respType);
  @include adaptive-value("top", $treeBehind_max_top, calc($treeBehind_max_top/$divider), $respType);
  @include adaptive-value("height", $treeBehind_max_height, calc($treeBehind_max_height/$divider), $respType);
  z-index: 20;
}
/*
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
*/

@media  (max-width: $mobileContainerMaxWidthPX) {

  .wrapper {
    // min-height: auto; 
    // height: auto;
  }


  .page{
      background-color: #00ff0022;
       //min-height: auto; 
       height: auto;
  }

  .page__body {
    max-width: 100vw;
    max-height: 100vh;
    align-items: center;
  }

  .scene__wrapper{
    width: 100vw;
   
  }

  .header__inner{
    //position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //height: 250px;
    background-color: blueviolet;
    width: 100vw;
    
  }
  .menu-mobile{
    display: none;
    flex-direction: column;
  }
  .menu-button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //width: 45px;
        height: 30px;
        //background-color: $page-body-background-color;
        border: 0;
        cursor: pointer;
        z-index: 4;

  }

  .menu__link{
    padding: $space2x 0;
    font-size: 3vh;
    display: block;
   
    width: 100vw;
    text-align: center;
}

  .menu__list{
    display: none;
  }

  .main{
   
  }

  .container{
    height: 100%;
  }

  .main__inner{
    height: 100%;
  }

  .title-container-mobile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //width: 100vw;
    //text-align: left;
    //background-color: brown;
  }

  .title-container{
    display: none;
  }

  .main__title-mobile{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0;
    border: 0;
    margin: 0;
    padding: $space2x;
    //width: 300px;
  }

  .main__subtitle-mobile{
    font-family: 'Lora', serif;
    font-size: 1rem;
    margin-left: 4px;
    padding: 0 $space2x;
    //padding-bottom: 10px;
  }

  .item-container{
    display: block;
    height: 100%;
    
  }

  .main__item{
    //height: 100%;
  }

  .item-school{
    // height: 500px;
    height: calc(100vh - $headerHeight);
  }

  .pic-school{
    position: relative;
    width: 300px;
    height: unset;
    top: unset;
    left: unset;
    // @include adaptive-value("width", $school_max_width, calc($school_max_width/$divider), $respType);
    // @include adaptive-value("right", $school_max_right, calc($school_max_right/$divider) , $respType);
    // @include adaptive-value("top", $school_max_top, calc($school_max_top/$divider), $respType);
    // @include adaptive-value("height", $school_max_height, calc($school_max_height/$divider), $respType);
    z-index: 0;
  }

  .pic-treeTop {
    position: relative;
    width: 100px;
    height: unset;
    top: unset;
    left: unset;
  }

  .pic-treeBehind {
    position: relative;
    width: 100px;
    height: unset;
    top: unset;
    left: unset;
  }



  .item-boy{
    height: 100vh;
  }

  
.pic-boy{
  position: relative;
  width: 100px;
  height: unset;
  top: unset;
  left: unset;
  // @include adaptive-value("width", $boy_max_width, calc($boy_max_width/$divider), $respType);
  // @include adaptive-value("left", $boy_max_left, calc($boy_max_left/$divider), $respType);
  // @include adaptive-value("top", $boy_max_top, calc($boy_max_top/$divider), $respType);
  // @include adaptive-value("height", $boy_max_height, calc($boy_max_height/$divider), $respType);
  z-index: 0;
}

  .item-family{
    height: calc(100vh);
  }

  .pic-family{
    position: relative;
    width: 100px;
    height: unset;
    top: unset;
    left: unset;
    // @include adaptive-value("width", $family_max_width, calc($family_max_width/$divider), $respType);
    // @include adaptive-value("left", $family_max_left, calc($family_max_left/$divider), $respType);
    // @include adaptive-value("top", $family_max_top, calc($family_max_top/$divider), $respType);
    // @include adaptive-value("height", $family_max_height, calc($family_max_height/$divider), $respType);
    z-index: 0;
  }

  .item-teacher{
    height: calc(100vh - $footerHeight);
  }

  .pic-teacher{
    position: relative;
    width: 100px;
    height: unset;
    top: unset;
    left: unset;
    // @include adaptive-value("width", $teacher_max_width, calc($teacher_max_width/$divider), $respType);
    // @include adaptive-value("right", $teacher_max_right, calc($teacher_max_right/$divider), $respType);
    // @include adaptive-value("top", $teacher_max_top, calc($teacher_max_top/$divider), $respType);
    // @include adaptive-value("height", $teacher_max_height, calc($teacher_max_height/$divider), $respType);
    z-index: 0;
  }

  .item-road{
    display: none;
  }

  .footer{
    clear: both;
    position: relative;
   
  }
}






// for testing ONLY!!!
@media  (min-width: $containerMaxWidthPX) {
  .page{
      background-color: #ff000011;
  }

}