@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';
@import 'base/functions';
@import 'base/tricks';

@import 'components/theme-indicator';

// <-------- mobile -------> < ------- desktop ------------------------->
// 320px             ->    700px                             ->   1200px
// minMobileWidth    ->    minDeskWidth(maxMobileWidth)      ->   maxDeskWidth 
// 568               ->    394px                             ->   675px
// minMobileHeight   ->    minDeskHeight                     ->   maxDeskHeight 



$scale: 0.625;  // for maket only
$mScale: calc(285 / 130);
  
// for adaptive mixin
$minMobileWidth: 320;
$minMobileHeight: 568; // is not propotional to landscape orientation!!!!

$maxDeskWidth: 1920 * $scale; // 1200
$maxDeskHeight: 1080 * $scale;

$ratio: calc($maxDeskHeight / $maxDeskWidth);

$minDeskWidth: 700;
$minDeskHeight: $minDeskWidth *  $ratio;

$maxMobileWidth: $minDeskWidth;

$school_max_width: 738 * $scale;
$school_max_height: 691 * $scale;
$school_max_right: 80 * $scale;
$school_max_top: 206 * $scale;


$road_max_width: 1004 * $scale;
$road_max_height: 287 * $scale;
$road_max_right: 529 * $scale;
$road_max_left: 399 * $scale; //387
$road_max_top: 793 * $scale;


$boy_max_width: 153 * $scale;
$boy_max_height: 510 * $scale;
$boy_max_left: 481 * $scale;
$boy_max_top: 529 * $scale;//643; <<<<<


$teacher_max_width: 116 * $scale;
$teacher_max_height: 265 * $scale;
$teacher_max_right: 540 * $scale;
$teacher_max_top: 745 * $scale;

$family_max_width: 284 * $scale;
$family_max_height: 393 * $scale;
$family_max_left: 818 * $scale;  //<<<< 
$family_max_top: 664 * $scale;   //<<<<<




:root.light {
  @include spread-map($color-map-light);
  @include spread-map($control-color-map-light);
}
:root.dark {
  @include spread-map($color-map-dark);
  @include spread-map($control-color-map-dark);
}

// body {
//   height: 100%;
// }

// fixed desktop version  >> 1200
//@media  (min-width: $maxDeskWidth) {
.wrapper {
  
  // min-height: 100vh; 
  // height: 100%;
  // display: flex;
  //  flex-direction: column;
  // //background-image: url("../images/background.jpg");
  // background-position: center center; 
  // background-size: cover;
  // background-attachment: fixed;

} 

.wrapper_mobile{
  display: none;
}
.grid_image_mobile{
  display: none;
}

.page{
  max-width: $maxDeskWidth + px;
  max-height: $maxDeskHeight + px;

  width: $maxDeskWidth + px; 
  height: $maxDeskHeight + px; 

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  background-color: control-color-var(--control-color-page-back);
 
}

.grid_image {
  //display: none;
  position: absolute;
  max-width: $maxDeskWidth + px;
  max-height: $maxDeskHeight + px;

  width: $maxDeskWidth + px; 
  height: $maxDeskHeight + px; 
  //z-index: 100;

  //position: fixed;
  opacity: 0.4;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pic-school{
  position: absolute;
  width: $school_max_width + px;
  height: $school_max_height + px;
  right: $school_max_right + px;
  top: $school_max_top + px;
  z-index: 40;
}

.pic-road{
  position: absolute;
  width: $road_max_width + px;
  height: $road_max_height + px;
  left: $road_max_left + px;
  top: $road_max_top + px;
  //bottom: 0;
  z-index: 30;
}

.pic-boy{
  position: absolute;
  width: $boy_max_width + px;
  height: $boy_max_height + px;
  left: $boy_max_left + px;
  top: $boy_max_top + px;
  z-index: 100;
}

.pic-family{
  position: absolute;
  width: $family_max_width + px;
  height: $family_max_height + px;
  left: $family_max_left + px;
  top: $family_max_top + px;
  z-index: 90;
}

.pic-teacher{
  position: absolute;
  width: $teacher_max_width + px;
  height: $teacher_max_height + px;
  right: $teacher_max_right + px;
  top: $teacher_max_top + px;
  z-index: 80;
}


// resize DESKTOP version  
@media  (min-width: #{$minDeskWidth + px}) and (max-width: #{$maxDeskWidth + px})   {
  .wrapper {
    background-color: red;
  }
  .page{
    width: adapt($maxDeskWidth, $minDeskWidth, $maxDeskWidth, $minDeskWidth); 
    height: adapt($maxDeskWidth, $minDeskWidth, $maxDeskWidth, $minDeskWidth, $ratio);
  }

  .grid_image {
    width: adapt($maxDeskWidth, $minDeskWidth, $maxDeskWidth, $minDeskWidth); 
    opacity: 0.4;
    //height: 100px;
    position: absolute;
    //z-index: 100;
  }

  .pic-school{
    position: absolute;
    width: adapt($school_max_width, 270, $maxDeskWidth, $minDeskWidth);
    height: adapt($school_max_height, 252, $maxDeskWidth, $minDeskWidth);
    left: unset;
    right: adapt($school_max_right, 29, $maxDeskWidth, $minDeskWidth);
    top: adapt($school_max_top, 76, $maxDeskWidth, $minDeskWidth);
    z-index: 40;
  }
  .pic-road{
    position: absolute;
    width: adapt($road_max_width, 365, $maxDeskWidth, $minDeskWidth);
    height: adapt($road_max_height, 105, $maxDeskWidth, $minDeskWidth);
    left: adapt($road_max_left, 141, $maxDeskWidth, $minDeskWidth);
    right: unset;
    top: adapt($road_max_top, 290, $maxDeskWidth, $minDeskWidth);
    z-index: 30;
  }

  .pic-boy{
    position: absolute;
    width: adapt($boy_max_width, 56, $maxDeskWidth, $minDeskWidth);
    height: adapt($boy_max_height, 186, $maxDeskWidth, $minDeskWidth);
    left: adapt($boy_max_left, 175, $maxDeskWidth, $minDeskWidth);
    right: unset;
    top: adapt($boy_max_top, 193, $maxDeskWidth, $minDeskWidth);
    z-index: 100;
  }

  .pic-teacher{
    position: absolute;
    width: adapt($teacher_max_width, 42, $maxDeskWidth, $minDeskWidth);
    height: adapt($teacher_max_height, 96, $maxDeskWidth, $minDeskWidth);
    left: unset;
    right: adapt($teacher_max_right, 199, $maxDeskWidth, $minDeskWidth);
    top: adapt($teacher_max_top, 272, $maxDeskWidth, $minDeskWidth);
    z-index: 80;
  }

  .pic-family{
    position: absolute;
    width: adapt($family_max_width, 103, $maxDeskWidth, $minDeskWidth);
    height: adapt($family_max_height, 143, $maxDeskWidth, $minDeskWidth);
    left: adapt($family_max_left, 298, $maxDeskWidth, $minDeskWidth);
    right: unset;
    top: adapt($family_max_top, 243, $maxDeskWidth, $minDeskWidth);
    z-index: 90;
  }

}

// resize MOBILE version!!!!!!!!!!!!!!
@media  (max-width: #{$minDeskWidth + px}) {
  


  .wrapper {
    display: none;
  
  }
  

  .wrapper_mobile{
    display: grid;  // block;
    grid-template-rows: 1fr 1fr 1fr;

    //padding: adapt($mScale * $sp2x, $sp2x, $maxMobileWidth, $minMobileWidth);
    background-color: control-color-var(--control-color-page-back);
    width: adapt($maxMobileWidth, $minMobileWidth, $maxMobileWidth, $minMobileWidth);
    //height: 100vh;

    

    //overflow: hidden;
    // -ms-overflow-style: none;  /* Internet Explorer 10+ */
    // scrollbar-width: none;  /* Firefox */
  }

  .wrapper_mobile::-webkit-scrollbar { 
    // display: none;  /* Safari and Chrome */
}

  .page_mobile{

    display: block;
    height: 100vh;
    max-height: 100vh;
    

    //overflow: auto;
  }

  .page_inner {
    height: 100vh;
    max-height: 100vh;
    padding: adapt($mScale * $sp2x, $sp2x, $maxMobileWidth, $minMobileWidth);
  }

.startup-page{
    //display: none; //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! remove
    background-image: url("/images/components/mobile/green-circle.svg");
    background-size: adapt($mScale * 446, 446, $maxMobileWidth, $minMobileWidth); 
    background-position-x: adapt($mScale * 9, 9, $maxMobileWidth, $minMobileWidth); 
    background-position-y: adapt($mScale * 366, 366, $maxMobileWidth, $minMobileWidth); 
    background-repeat: no-repeat;

   // overflow-x: hidden;
      
}

.startup-page--invisible{
  display: none;
} 

.startup-page-background {
  height: 100vh;
    max-height: 100vh;
      background-image: url("/images/components/mobile/school.svg");
      background-size: adapt($mScale * 405, 405, $maxMobileWidth, $minMobileWidth); 
      background-position-x: adapt($mScale * 80, 80, $maxMobileWidth, $minMobileWidth);  // TODO change to 75????
      background-position-y: adapt($mScale * 187, 187, $maxMobileWidth, $minMobileWidth);  //was 47 
      background-repeat: no-repeat; 
}


.menu_button_background


.bell-page {
  background-color: rgb(212, 241, 232);
} 


  .grid_image {
    display: none;
  }


   // TODO change it to background with repeat!!!!
  .grid_image_mobile{
    display: none; // block
    position: absolute;
    opacity: 0.2;
    //z-index: 100;
    top: 0;
    left: 0;
  }



  .header{
    height: adapt($mScale * 24, 24, $maxMobileWidth, $minMobileWidth);
    min-height: adapt($mScale * 24, 24, $maxMobileWidth, $minMobileWidth);
  }

  .menu{
    min-height: 24px;  //32 ???
  }
  


  .menu__button{
   background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    top: $space;
    left: $space;
  }

  .menu-button_background{
    position: absolute;
    top: -$space;
    left: -$space;
  }

  .menu__button-image{
    //display: none;
    // position: absolute;
    // width: 24px;
    // height: 24px;
    // background-color: transparent;
    // top: $space;
    // left: $space;
    path {
      fill: control-color-var($--control-color-button-text);
    }
  }

  .public-info{
    height: adapt($mScale * 106, 106, $maxMobileWidth, $minMobileWidth);
  }

  //----------------------------------
  .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .info__name{
    padding-top: adapt($mScale * 30, 30, $maxMobileWidth, $minMobileWidth);
    width: 50%;
  }

  .info__title{
    font-size: adapt($mScale * 20, 20, $maxMobileWidth, $minMobileWidth);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: control-color-var($--control-color-page-title);
    //letter-spacing: 0.9;
  
   // background-color: chocolate;
  }

.info__subtitle{
  font-size: adapt($mScale * 12, 12, $maxMobileWidth, $minMobileWidth);
  font-family: 'Open Sans', sans-serif;
  color: control-color-var($--control-color-page-title);
  font-weight: 600;
}

.info__contacts{
  //background-color: rgb(206, 173, 173);
  width: adapt($mScale * 130, 130, $maxMobileWidth, $minMobileWidth);
}
  .info__background{

    position: absolute;
    top: adapt($mScale * $sp2x, $sp2x, $maxMobileWidth, $minMobileWidth);
    width: adapt($mScale * 130, 130, $maxMobileWidth, $minMobileWidth);
    right: adapt($mScale * $sp2x, $sp2x, $maxMobileWidth, $minMobileWidth);
  }

  
  .info__text{
    position: absolute;
    right: adapt($sp2x * $mScale, $sp2x, $maxMobileWidth, $minMobileWidth);
    width: adapt($mScale * 130, 130, $maxMobileWidth, $minMobileWidth);
    top: adapt($mScale * 38, 38, $maxMobileWidth, $minMobileWidth);
    height: adapt($mScale * 130, 130, $maxMobileWidth, $minMobileWidth);
    //text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //background-color: aqua;
    gap: adapt($mScale * $sp2x, $sp2x, $maxMobileWidth, $minMobileWidth);
    font-style: normal;
    font-size: adapt($mScale * 12, 12, $maxMobileWidth, $minMobileWidth);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: control-color-var($--control-color-page-title);
  }
  .info__number{
   
  }

  .info__city{
   
  }

  .info__adress{
   
  }
  $minMobileHeightPX: $minMobileHeight + px;
  //-----------------------------
  .main-container{
     width: adapt($mScale * 295, 295, $maxMobileWidth, $minMobileWidth);  // TODO 12px space lost!!!
     height: adapt($mScale * calc($minMobileHeight - 24 - 106 - $sp4x), calc($minMobileHeight - 24 - 106 - $sp4x), $maxMobileWidth, $minMobileWidth);

    
     

  }

  .navigation{
    width: adapt($mScale * 68, 68, $maxMobileWidth, $minMobileWidth);
    //1background-color: aqua;
  }

  .navigation__arrow{
    height: adapt($mScale * 142, 142, $maxMobileWidth, $minMobileWidth);
    //background-color: aquamarine;
    //text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .arrow-button-image{
    align-self: center;
    padding-bottom: adapt($mScale * 14, 14, $maxMobileWidth, $minMobileWidth);
    width: adapt($mScale * 12, 12, $maxMobileWidth, $minMobileWidth);
    height: adapt($mScale * 94, 94, $maxMobileWidth, $minMobileWidth);
    path {
      fill: control-color-var($--control-color-button-text);
    }
  }

  .navigation__buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: adapt($mScale * 24, 24, $maxMobileWidth, $minMobileWidth);
    padding-top: adapt($mScale * 24, 24, $maxMobileWidth, $minMobileWidth);
    
  }

  .nav-button-image{
    align-self: center;
    z-index: 1;
    width: adapt($mScale * 24, 24, $maxMobileWidth, $minMobileWidth);
    path {
      fill: control-color-var($--control-color-button-text);
    }
  }


  //-------- MENU page ------------

  .menu-page{
    background-image: url("/images/components/mobile/menu-button-back.svg");
    background-size: 52px;
    background-position-x: calc(100vw - 52px + 8px);
    background-position-y: -8px;
    background-repeat: no-repeat;
  
  }

  .menu-page--invisible{
    display: none;
  }

  .main-menu{
    height: 44px;
    
    
  }

  .main-menu_background{
    background-image: url("/images/components/mobile/teacher-left.svg");
    background-size: adapt($mScale * 142, 142, $maxMobileWidth, $minMobileWidth); 
    background-position-x: adapt($mScale * 164, 164, $maxMobileWidth, $minMobileWidth); 
    background-position-y: adapt($mScale * 220, 220, $maxMobileWidth, $minMobileWidth); 
    background-repeat: no-repeat;
  }

  .close__button{
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    top: $space;
    right: $space;



  }

  .close-button_background{
    position: absolute;
    top: -$space;
    right: $space;
    
  }

  .close__button-image{
    //display: none;
    // position: absolute;
    // width: 24px;
    // height: 24px;
    // background-color: transparent;
    // top: $space;
    // left: $space;
    path {
      fill: control-color-var($--control-color-button-text);
    }
  }

  .menus{
    display: flex;
    justify-content: center;
    //background-color: aqua;
  }
  .menu-list{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 19px;
    
  }

  .menu-list__item{
    
  }

  .menu__link{
    font-size: adapt($mScale * 20, 20, $maxMobileWidth, $minMobileWidth);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: control-color-var($--control-color-page-title);
    
  }

   //-------- BELL page ------------

  .grid-in-bell {
    top: 100vh;
  }

  .background-in-bell {
    top: calc(100vh - $space);
  }

  .button-in-bell{
    top: calc(100vh - $space);
  }

  .image-in-bell {
    top: calc(100vh + $space);
  }
}


/*
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
*/



