@charset "UTF-8";
/*Обнуление*/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

html, body {
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
}

.page__theme-indicator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  right: 10px;
  top: 10px;
  z-index: 100;
  position: fixed; /* Set the indicator to fixed position */
}

.theme-indicator {
  border-width: 3px;
  border-radius: 18px;
  width: 38px;
  height: 38px;
  text-align: center;
  vertical-align: baseline;
  margin-bottom: 10px;
  cursor: pointer;
}

svg.theme-indicator circle, svg.theme-indicator path {
  fill: var(--control-color-button-back);
  stroke: var(--control-color-button-back);
}

.indicator-image-dark {
  display: block;
}

.indicator-image-dark.active {
  display: none;
}

.indicator-image-light {
  display: block;
}

.indicator-image-light.active {
  display: none;
}

.page__theme-indicator-image {
  height: 32px;
  width: 32px;
}

.indicator-image-auto {
  display: none;
}

.indicator-image-auto.active {
  display: block;
}

.indicator-image-empty {
  display: block;
}

.indicator-image-empty.active {
  display: none;
}

:root.light {
  --color-primary: #E7A9AC;
  --color-primary300: rgba(231, 169, 172, 0.2);
  --color-primary500: rgba(231, 169, 172, 0.2);
  --color-secondary: #8182BD;
  --color-secondary300: rgba(129, 130, 189, 0.2);
  --color-secondary500: rgba(129, 130, 189, 0.2);
  --color-tertiary: #D9C8E2;
  --color-tertiary300: rgba(217, 200, 226, 0.2);
  --color-tertiary500: rgba(217, 200, 226, 0.2);
  --color-quaternary: #B7D8BA;
  --color-quaternary300: rgba(183, 216, 186, 0.2);
  --color-quaternary500: rgba(183, 216, 186, 0.2);
  --color-black: #505486;
  --color-white: #F2E6E2;
  --color-grey: #dddddd;
  --color-grey300: #777777;
  --color-grey500: #555555;
  --control-color-page-back: #F2E6E2;
  --control-color-page-title: #505486;
  --control-color-page-sub-title: #505486;
  --control-color-page-scene-back: #8182BD;
  --control-color-text: #505486;
  --control-color-border: #E7A9AC;
  --control-color-button-back: #505486;
  --control-color-button-text: #8182BD;
  --control-color-button-border: #8182BD;
  --control-color-button-back-inactive: #dddddd;
  --control-color-button-border-inactive: #777777;
}

:root.dark {
  --color-primary: #f34c84;
  --color-primary300: #f34c84;
  --color-primary500: #f34c84;
  --color-secondary: #91bea9;
  --color-secondary300: #91bea9;
  --color-secondary500: #91bea9;
  --color-tertiary: #c297dc;
  --color-tertiary300: #c297dc;
  --color-tertiary500: #c297dc;
  --color-quaternary: #B7D8BA;
  --color-quaternary300: rgba(183, 216, 186, 0.2);
  --color-quaternary500: rgba(183, 216, 186, 0.2);
  --color-black: #15043f;
  --color-white: #ffffff;
  --color-grey: #cccccc;
  --color-grey300: #999999;
  --color-grey500: #666666;
  --control-color-page-back: #15043f;
  --control-color-page-title: #ffffff;
  --control-color-page-sub-title: #cccccc;
  --control-color-page-scene-back: #91bea9;
  --control-color-text: #ffffff;
  --control-color-border: #f34c84;
  --control-color-button-back: #ffffff;
  --control-color-button-text: #ffffff;
  --control-color-button-border: #f34c84;
  --control-color-button-back-inactive: #cccccc;
  --control-color-button-border-inactive: #999999;
}

.wrapper_mobile {
  display: none;
}

.grid_image_mobile {
  display: none;
}

.page {
  max-width: 1200px;
  max-height: 675px;
  width: 1200px;
  height: 675px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--control-color-page-back);
}

.grid_image {
  position: absolute;
  max-width: 1200px;
  max-height: 675px;
  width: 1200px;
  height: 675px;
  z-index: 100;
  opacity: 0.4;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pic-school {
  position: absolute;
  width: 461.25px;
  height: 431.875px;
  right: 50px;
  top: 128.75px;
  z-index: 40;
}

.pic-road {
  position: absolute;
  width: 627.5px;
  height: 179.375px;
  left: 249.375px;
  top: 495.625px;
  z-index: 30;
}

.pic-boy {
  position: absolute;
  width: 95.625px;
  height: 318.75px;
  left: 300.625px;
  top: 330.625px;
  z-index: 100;
}

.pic-family {
  position: absolute;
  width: 177.5px;
  height: 245.625px;
  left: 511.25px;
  top: 415px;
  z-index: 90;
}

.pic-teacher {
  position: absolute;
  width: 72.5px;
  height: 165.625px;
  right: 337.5px;
  top: 465.625px;
  z-index: 80;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .wrapper {
    background-color: red;
  }
  .page {
    width: calc(700px + 500 * (100vw - 700px) / 500);
    height: calc(393.75px + 281.25 * (100vw - 700px) / 500);
  }
  .grid_image {
    width: calc(700px + 500 * (100vw - 700px) / 500);
    opacity: 0.4;
    position: absolute;
    z-index: 100;
  }
  .pic-school {
    position: absolute;
    width: calc(270px + 191.25 * (100vw - 700px) / 500);
    height: calc(252px + 179.875 * (100vw - 700px) / 500);
    left: unset;
    right: calc(29px + 21 * (100vw - 700px) / 500);
    top: calc(76px + 52.75 * (100vw - 700px) / 500);
    z-index: 40;
  }
  .pic-road {
    position: absolute;
    width: calc(365px + 262.5 * (100vw - 700px) / 500);
    height: calc(105px + 74.375 * (100vw - 700px) / 500);
    left: calc(141px + 108.375 * (100vw - 700px) / 500);
    right: unset;
    top: calc(290px + 205.625 * (100vw - 700px) / 500);
    z-index: 30;
  }
  .pic-boy {
    position: absolute;
    width: calc(56px + 39.625 * (100vw - 700px) / 500);
    height: calc(186px + 132.75 * (100vw - 700px) / 500);
    left: calc(175px + 125.625 * (100vw - 700px) / 500);
    right: unset;
    top: calc(193px + 137.625 * (100vw - 700px) / 500);
    z-index: 100;
  }
  .pic-teacher {
    position: absolute;
    width: calc(42px + 30.5 * (100vw - 700px) / 500);
    height: calc(96px + 69.625 * (100vw - 700px) / 500);
    left: unset;
    right: calc(199px + 138.5 * (100vw - 700px) / 500);
    top: calc(272px + 193.625 * (100vw - 700px) / 500);
    z-index: 80;
  }
  .pic-family {
    position: absolute;
    width: calc(103px + 74.5 * (100vw - 700px) / 500);
    height: calc(143px + 102.625 * (100vw - 700px) / 500);
    left: calc(298px + 213.25 * (100vw - 700px) / 500);
    right: unset;
    top: calc(243px + 172 * (100vw - 700px) / 500);
    z-index: 90;
  }
}
@media (max-width: 700px) {
  .wrapper {
    display: none;
  }
  .wrapper_mobile {
    display: block;
    padding: 12px;
    background-color: var(--control-color-page-back);
  }
  .grid_image {
    display: none;
  }
  .grid_image_mobile {
    display: block;
    position: absolute;
    opacity: 0.3;
    z-index: 100;
    top: 0;
    left: 0;
  }
  .header {
    height: 24px;
    min-height: 24px;
  }
  .menu {
    min-height: 24px;
  }
  .menu__background {
    position: absolute;
    top: -8px;
    left: -8px;
  }
  .menu__button {
    background-color: transparent;
  }
  .menu__button-image {
    width: 24px;
    height: 24px;
    background-color: transparent;
    position: absolute;
    top: 6px;
    left: 6px;
  }
  .menu__button-image path {
    fill: var(--control-color-button-text);
  }
  .public-info {
    height: 106px;
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .info__name {
    padding-top: 30px;
    width: 50%;
  }
  .info__title {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--control-color-page-title);
  }
  .info__subtitle {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: var(--control-color-page-title);
    font-weight: 600;
  }
  .info__contacts {
    width: 130px;
  }
  .info__background {
    position: absolute;
    top: 12px;
    width: 130px;
    height: 130px;
  }
  .info__text {
    position: absolute;
    right: 12px;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-style: normal;
  }
  .info__number {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: var(--control-color-page-title);
  }
  .info__city {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: var(--control-color-page-title);
  }
  .info__adress {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: var(--control-color-page-title);
  }
}
/*
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
/*
.main__item{
  //background-color: rgb(228, 235, 230);
 // padding: 10px;
}








.page {
  //@include adaptive-value("width", $maxPageWidth, $minPageWidth, 0);
  //@include adaptive-value("height", $maxPageHeight, $minPageHeight, 0);

  display: flex;
  color:  control-color-var($--control-color-text);
  background-color: control-color-var($--control-color-page-back);
  min-height: 100vh; 
  width: 100%;
  padding: $space2x 0;
}

// .page_bg {
//  // background: url(../images/components/404/404_chemical.png) center / cover no-repeat fixed;
//   background: url(../images/components/404/404a.svg) center / cover no-repeat fixed;
//   background-color: control-color-var($--control-color-page-back);
//   background-size: contain;
// }

.page__body {
  //background-color: control-color-var($--control-color-page-scene-back);
  flex: 1 1 auto;
  max-width: calc($containerMaxWidthPX);
  max-height: calc($containerMaxHeightPX);
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //padding: 0 2-0px; // 1200 + 20+ 20 = 1240px max container width
  //overflow: hidden;
  //overflow-y: hidden;
  border: 5px solid #000;
}


.scene__wrapper{
  width: $containerMaxWidthPX;
  height: 100%;
  //background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  background-color: bisque;
  // position: fixed;
  // top: 0;

}

.header__inner{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: $headerHeight; //TODO auto resize


}

.menu-mobile{
  display: none;
}

.menu__list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: $space2x ;
  padding-left: $space2x;

}

.menu__link{
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2rem;  //TODO resize
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.main{
  //background-color: aqua;
  height: 100%;
}

.title-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: $space2x;
  padding: $space2x;
}

.title-container-mobile{
  display: none;
}

.main__title{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  letter-spacing: 0;
  border: 0;
  margin: 0;
  padding: 0;

}

.main__subtitle{
  font-family: 'Lora', serif;
  font-size: 1rem;
  margin-left: $space;

}

.main__item{
  background-color: rgb(6, 102, 27);
  //width: 100%;
  height: 5px;


 //align-content: stretch;
}

.item-container{
 // max-width: 100vw;
  //width: 100%;
  display: flex;
  flex-direction: column;
  //align-items: stretch;
}

.item-school{
  background-color: chartreuse;
}

.item-boy{
  background-color: chocolate;
}

.item-family{
  background-color: rgb(133, 170, 161);
}

.footer{
  position: relative;
  height: $footerHeight;
  min-height: $footerHeight;
  display: block;
  // bottom: 0;
  background-color: rgb(192, 127, 133);
}


.footer__text{

}



.pic-school{
  position: absolute;
  @include adaptive-value("width", $school_max_width, calc($school_max_width/$divider), $respType);
  @include adaptive-value("right", $school_max_right, calc($school_max_right/$divider) , $respType);
  @include adaptive-value("top", $school_max_top, calc($school_max_top/$divider), $respType);
  @include adaptive-value("height", $school_max_height, calc($school_max_height/$divider), $respType);
  z-index: 40;
}

.pic-road{
  position: absolute;
  @include adaptive-value("width", $road_max_width, calc($road_max_width/$divider), $respType);
  @include adaptive-value("right", $road_max_right, calc($road_max_right/$divider) , $respType);
  @include adaptive-value("top", $road_max_top, calc($road_max_top/$divider), $respType); 
 // @include adaptive-value("left", $road_max_left, calc($road_max_left/$divider), 0);
  @include adaptive-value("height", $road_max_height, calc($road_max_height/$divider), $respType);
  z-index: 40;
}


.pic-boy{
  position: absolute;
  @include adaptive-value("width", $boy_max_width, calc($boy_max_width/$divider), $respType);
  @include adaptive-value("left", $boy_max_left, calc($boy_max_left/$divider), $respType);
  @include adaptive-value("top", $boy_max_top, calc($boy_max_top/$divider), $respType);
  @include adaptive-value("height", $boy_max_height, calc($boy_max_height/$divider), $respType);
  z-index: 100;
}

.pic-teacher{
  position: absolute;
  @include adaptive-value("width", $teacher_max_width, calc($teacher_max_width/$divider), $respType);
  @include adaptive-value("right", $teacher_max_right, calc($teacher_max_right/$divider), $respType);
  @include adaptive-value("top", $teacher_max_top, calc($teacher_max_top/$divider), $respType);
  @include adaptive-value("height", $teacher_max_height, calc($teacher_max_height/$divider), $respType);
  z-index: 80;
}

.pic-family{
  position: absolute;
  @include adaptive-value("width", $family_max_width, calc($family_max_width/$divider), $respType);
  @include adaptive-value("left", $family_max_left, calc($family_max_left/$divider), $respType);
  @include adaptive-value("top", $family_max_top, calc($family_max_top/$divider), $respType);
  @include adaptive-value("height", $family_max_height, calc($family_max_height/$divider), $respType);
  z-index: 90;
}

.pic-treeTop{
  position: absolute;
  @include adaptive-value("width", $treeTop_max_width, calc($treeTop_max_width/$divider), $respType);
  @include adaptive-value("right", $treeTop_max_right, calc($treeTop_max_right/$divider), $respType);
  @include adaptive-value("top", $treeTop_max_top, calc($treeTop_max_top/$divider), $respType);
  @include adaptive-value("height", $treeTop_max_height, calc($treeTop_max_height/$divider), $respType);
  z-index: 70;
}

.pic-treeBehind{
  position: absolute;
  @include adaptive-value("width", $treeBehind_max_width, calc($treeBehind_max_width/$divider), $respType);
  @include adaptive-value("right", $treeBehind_max_right, calc($treeBehind_max_right/$divider), $respType);
  @include adaptive-value("top", $treeBehind_max_top, calc($treeBehind_max_top/$divider), $respType);
  @include adaptive-value("height", $treeBehind_max_height, calc($treeBehind_max_height/$divider), $respType);
  z-index: 20;
}
*/
/*
@media  (max-width: $mobileContainerMaxWidthPX) {

  .wrapper {
    // min-height: auto; 
    // height: auto;
  }


  .page{
      background-color: #00ff0022;
       //min-height: auto; 
       height: auto;
  }

  .page__body {
    max-width: 100vw;
    max-height: 100vh;
    align-items: center;
  }

  .scene__wrapper{
    width: 100vw;

  }

  .header__inner{
    //position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //height: 250px;
    background-color: blueviolet;
    width: 100vw;

  }
  .menu-mobile{
    display: none;
    flex-direction: column;
  }
  .menu-button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //width: 45px;
        height: 30px;
        //background-color: $page-body-background-color;
        border: 0;
        cursor: pointer;
        z-index: 4;

  }

  .menu__link{
    padding: $space2x 0;
    font-size: 3vh;
    display: block;

    width: 100vw;
    text-align: center;
}

  .menu__list{
    display: none;
  }

  .main{

  }

  .container{
    height: 100%;
  }

  .main__inner{
    height: 100%;
  }

  .title-container-mobile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //width: 100vw;
    //text-align: left;
    //background-color: brown;
  }

  .title-container{
    display: none;
  }

  .main__title-mobile{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0;
    border: 0;
    margin: 0;
    padding: $space2x;
    //width: 300px;
  }

  .main__subtitle-mobile{
    font-family: 'Lora', serif;
    font-size: 1rem;
    margin-left: 4px;
    padding: 0 $space2x;
    //padding-bottom: 10px;
  }

  .item-container{
    display: block;
    height: 100%;

  }

  .main__item{
    //height: 100%;
  }

  .item-school{
    // height: 500px;
    height: calc(100vh - $headerHeight);
  }

  .pic-school{
    position: relative;
    width: 300px;
    height: unset;
    top: unset;
    left: unset;
    // @include adaptive-value("width", $school_max_width, calc($school_max_width/$divider), $respType);
    // @include adaptive-value("right", $school_max_right, calc($school_max_right/$divider) , $respType);
    // @include adaptive-value("top", $school_max_top, calc($school_max_top/$divider), $respType);
    // @include adaptive-value("height", $school_max_height, calc($school_max_height/$divider), $respType);
    z-index: 0;
  }

  .pic-treeTop {
    position: relative;
    width: 100px;
    height: unset;
    top: unset;
    left: unset;
  }

  .pic-treeBehind {
    position: relative;
    width: 100px;
    height: unset;
    top: unset;
    left: unset;
  }



  .item-boy{
    height: 100vh;
  }


.pic-boy{
  position: relative;
  width: 100px;
  height: unset;
  top: unset;
  left: unset;
  // @include adaptive-value("width", $boy_max_width, calc($boy_max_width/$divider), $respType);
  // @include adaptive-value("left", $boy_max_left, calc($boy_max_left/$divider), $respType);
  // @include adaptive-value("top", $boy_max_top, calc($boy_max_top/$divider), $respType);
  // @include adaptive-value("height", $boy_max_height, calc($boy_max_height/$divider), $respType);
  z-index: 0;
}

  .item-family{
    height: calc(100vh);
  }

  .pic-family{
    position: relative;
    width: 150px;

    height: unset;
    top: unset;
    left: unset;

    margin-top: 20px;

    // @include adaptive-value("width", $family_max_width, calc($family_max_width/$divider), $respType);
    // @include adaptive-value("left", $family_max_left, calc($family_max_left/$divider), $respType);
    // @include adaptive-value("top", $family_max_top, calc($family_max_top/$divider), $respType);
    // @include adaptive-value("height", $family_max_height, calc($family_max_height/$divider), $respType);
    z-index: 0;
  }

  .item-teacher{
    height: calc(100vh - $footerHeight);
  }

  .pic-teacher{
    position: relative;
    width: 100px;
    height: unset;
    top: unset;
    left: unset;
    // @include adaptive-value("width", $teacher_max_width, calc($teacher_max_width/$divider), $respType);
    // @include adaptive-value("right", $teacher_max_right, calc($teacher_max_right/$divider), $respType);
    // @include adaptive-value("top", $teacher_max_top, calc($teacher_max_top/$divider), $respType);
    // @include adaptive-value("height", $teacher_max_height, calc($teacher_max_height/$divider), $respType);
    z-index: 0;
  }

  .item-road{
    display: none;
  }

  .footer{
    clear: both;
    position: relative;

  }
}
*/
/*
// for testing ONLY!!!
@media  (min-width: $containerMaxWidthPX) {
  .page{
      background-color: #ff000011;
  }

}
*/