@charset "UTF-8";
/*Обнуление*/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

html, body {
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
}

.remove-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.remove-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Firefox */
@-moz-document url-prefix() {
  html,
  body {
    scrollbar-width: none;
  }
}
@font-face {
  font-family: "Breamcatcher";
  src: url("../../fonts/breamcatcher.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Pobeda";
  src: url("../../fonts/pobeda.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Larisa";
  src: url("../../fonts/larisa.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../../fonts/Lora-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Lora-bold";
  src: url("../../fonts/Lora-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("../../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans-bold";
  src: url("../../fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
.page__theme-indicator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  right: 10px;
  top: 10px;
  z-index: 100;
  position: fixed; /* Set the indicator to fixed position */
}

.theme-indicator {
  border-width: 3px;
  border-radius: 18px;
  width: 38px;
  height: 38px;
  text-align: center;
  vertical-align: baseline;
  margin-bottom: 10px;
  cursor: pointer;
}

svg.theme-indicator circle, svg.theme-indicator path {
  fill: var(--control-color-button-back);
  stroke: var(--control-color-button-back);
}

.indicator-image-dark {
  display: block;
}

.indicator-image-dark.active {
  display: none;
}

.indicator-image-light {
  display: block;
}

.indicator-image-light.active {
  display: none;
}

.page__theme-indicator-image {
  height: 32px;
  width: 32px;
}

.indicator-image-auto {
  display: none;
}

.indicator-image-auto.active {
  display: block;
}

.indicator-image-empty {
  display: block;
}

.indicator-image-empty.active {
  display: none;
}

/* columns (landscape) */
/* rows (landscape) */
:root.light {
  --color-primary: #E7A9AC;
  --color-primary300: rgba(231, 169, 172, 0.2);
  --color-primary500: rgba(231, 169, 172, 0.2);
  --color-secondary: #8182BD;
  --color-secondary300: rgba(129, 130, 189, 0.2);
  --color-secondary500: rgba(129, 130, 189, 0.2);
  --color-tertiary: #D9C8E2;
  --color-tertiary300: rgba(217, 200, 226, 0.2);
  --color-tertiary500: rgba(217, 200, 226, 0.2);
  --color-quaternary: #B7D8BA;
  --color-quaternary300: rgba(183, 216, 186, 0.2);
  --color-quaternary500: rgba(183, 216, 186, 0.2);
  --color-black: #505486;
  --color-white: #F2E6E2;
  --color-grey: #dddddd;
  --color-grey300: #777777;
  --color-grey500: #555555;
  --control-color-page-back: #F2E6E2;
  --control-color-page-title: #505486;
  --control-color-page-sub-title: #8182BD;
  --control-color-page-scene-back: #8182BD;
  --control-color-text: #505486;
  --control-color-border: #E7A9AC;
  --control-color-button-back: #505486;
  --control-color-button-text: #8182BD;
  --control-color-button-border: #8182BD;
  --control-color-button-back-inactive: #dddddd;
  --control-color-button-border-inactive: #777777;
}

:root.dark {
  --color-primary: #f34c84;
  --color-primary300: #f34c84;
  --color-primary500: #f34c84;
  --color-secondary: #91bea9;
  --color-secondary300: #91bea9;
  --color-secondary500: #91bea9;
  --color-tertiary: #c297dc;
  --color-tertiary300: #c297dc;
  --color-tertiary500: #c297dc;
  --color-quaternary: #B7D8BA;
  --color-quaternary300: rgba(183, 216, 186, 0.2);
  --color-quaternary500: rgba(183, 216, 186, 0.2);
  --color-black: #15043f;
  --color-white: #ffffff;
  --color-grey: #cccccc;
  --color-grey300: #999999;
  --color-grey500: #666666;
  --control-color-page-back: #15043f;
  --control-color-page-title: #ffffff;
  --control-color-page-sub-title: #cccccc;
  --control-color-page-scene-back: #91bea9;
  --control-color-text: #ffffff;
  --control-color-border: #f34c84;
  --control-color-button-back: #ffffff;
  --control-color-button-text: #ffffff;
  --control-color-button-border: #f34c84;
  --control-color-button-back-inactive: #cccccc;
  --control-color-button-border-inactive: #999999;
}

.wrapper_mobile, .wrapper_mobile-menu {
  display: none;
}

.grid_image_mobile {
  display: none;
}

.transparent {
  background-color: transparent;
}

.page {
  max-width: 1200px;
  max-height: 675px;
  width: 1200px;
  height: 675px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("/images/components/mobile/circle-blue.svg") 300px 63.75px no-repeat, url("/images/components/mobile/circle-pink.svg") -105.625px 111.25px no-repeat, url("/images/components/mobile/circle-yellow.svg") 864.375px -125px no-repeat, url("/images/components/mobile/circle-green.svg") 208.75px 263.125px no-repeat;
  background-size: 200px, 306.25px, 223.75px, 1178.75px;
  background-color: var(--control-color-page-back);
}

.grid {
  display: grid;
  max-width: 1200px;
  max-height: 675px;
  width: 1200px;
  height: 675px;
  grid-template-columns: 3.2% 3.2% 6.3% 4.1% 3.2% 5% 8.33% 6.66% 10% 10% 6.66% 8.33% 5% 3.2% 4.1% 6.3% 3.2% 3.2%;
  grid-template-rows: 6.27% 6.27% 12.46% 8.33% 16.68% 16.68% 8.33% 12.46% 6.27% 6.27%;
  align-items: end;
}

.main-title {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 15;
  font-size: 54px;
  font-family: "Montserrat-bold";
  font-weight: 600;
  color: var(--control-color-page-title);
}

.subtitle {
  align-self: stretch;
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 12;
  padding-left: 5px;
}

.middle-title {
  font-size: 24px;
  font-family: "OpenSans";
  color: var(--control-color-page-sub-title);
}

.small-title {
  font-size: 16px;
  font-family: "OpenSans";
  color: var(--control-color-page-sub-title);
}

.lesson-menu {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 5;
  justify-self: end;
}

.bell-menu {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 5;
  grid-column-end: 8;
  justify-self: center;
}

.activity-menu {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 8;
  grid-column-end: 8;
}

.phone {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 12;
  grid-column-end: 20;
  align-items: start;
  align-self: self-start;
  font-size: 20px;
  font-family: "OpenSans";
  color: var(--control-color-page-sub-title);
}

.left-menu-arrow {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 2;
  justify-self: center;
}
.left-menu-arrow path {
  fill: var(--control-color-button-text);
}

.left-menu-buttons {
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 2;
  grid-column-end: 2;
  margin-top: 10px;
  text-align: center;
  align-self: start;
}

.left-menu-button-image {
  z-index: 1;
}
.left-menu-button-image path {
  fill: var(--color-primary);
}

.left-menu-image {
  width: 24px;
  align-self: center;
}

.top-menu__link {
  font-size: 20px;
  font-family: "OpenSans";
  color: var(--color-primary);
}

.grid_image {
  position: absolute;
  max-width: 1200px;
  max-height: 675px;
  width: 1200px;
  height: 675px;
  z-index: 100;
  opacity: 0.4;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pic-school {
  position: absolute;
  width: 461.25px;
  height: 431.875px;
  right: 50px;
  top: 128.75px;
  z-index: 40;
}

.pic-road {
  position: absolute;
  width: 627.5px;
  height: 179.375px;
  left: 249.375px;
  top: 495.625px;
  z-index: 30;
}

.pic-boy {
  position: absolute;
  width: 95.625px;
  height: 318.75px;
  left: 300.625px;
  top: 330.625px;
  z-index: 100;
}

.pic-family {
  position: absolute;
  width: 177.5px;
  height: 245.625px;
  left: 511.25px;
  top: 415px;
  z-index: 90;
}

.pic-teacher {
  position: absolute;
  width: 72.5px;
  height: 165.625px;
  right: 337.5px;
  top: 465.625px;
  z-index: 80;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .wrapper {
    background-color: red;
  }
  .page {
    width: calc(700px + 500 * (100vw - 700px) / 500);
    height: calc(393.75px + 281.25 * (100vw - 700px) / 500);
    background: url("/images/components/mobile/circle-blue.svg") calc(174px + 126 * (100vw - 700px) / 500) calc(36.975px + 26.775 * (100vw - 700px) / 500) no-repeat, url("/images/components/mobile/circle-pink.svg") calc(-61.2625px + -44.3625 * (100vw - 700px) / 500) calc(64.525px + 46.725 * (100vw - 700px) / 500) no-repeat, url("/images/components/mobile/circle-yellow.svg") calc(501.3375px + 363.0375 * (100vw - 700px) / 500) calc(-72.5px + -52.5 * (100vw - 700px) / 500) no-repeat, url("/images/components/mobile/circle-green.svg") calc(121.075px + 87.675 * (100vw - 700px) / 500) calc(152.6125px + 110.5125 * (100vw - 700px) / 500) no-repeat;
    background-size: calc(116px + 84 * (100vw - 700px) / 500), calc(177.625px + 128.625 * (100vw - 700px) / 500), calc(129.775px + 93.975 * (100vw - 700px) / 500), calc(683.675px + 495.075 * (100vw - 700px) / 500);
    background-color: var(--control-color-page-back);
  }
  .grid {
    width: calc(700px + 500 * (100vw - 700px) / 500);
    height: calc(393.75px + 281.25 * (100vw - 700px) / 500);
  }
  .grid_image {
    width: calc(700px + 500 * (100vw - 700px) / 500);
    opacity: 0.4;
    position: absolute;
  }
  .pic-school {
    position: absolute;
    width: calc(270px + 191.25 * (100vw - 700px) / 500);
    height: calc(252px + 179.875 * (100vw - 700px) / 500);
    left: unset;
    right: calc(29px + 21 * (100vw - 700px) / 500);
    top: calc(76px + 52.75 * (100vw - 700px) / 500);
    z-index: 40;
  }
  .pic-road {
    position: absolute;
    width: calc(365px + 262.5 * (100vw - 700px) / 500);
    height: calc(105px + 74.375 * (100vw - 700px) / 500);
    left: calc(141px + 108.375 * (100vw - 700px) / 500);
    right: unset;
    top: calc(290px + 205.625 * (100vw - 700px) / 500);
    z-index: 30;
  }
  .pic-boy {
    position: absolute;
    width: calc(56px + 39.625 * (100vw - 700px) / 500);
    height: calc(186px + 132.75 * (100vw - 700px) / 500);
    left: calc(175px + 125.625 * (100vw - 700px) / 500);
    right: unset;
    top: calc(193px + 137.625 * (100vw - 700px) / 500);
    z-index: 100;
  }
  .pic-teacher {
    position: absolute;
    width: calc(42px + 30.5 * (100vw - 700px) / 500);
    height: calc(96px + 69.625 * (100vw - 700px) / 500);
    left: unset;
    right: calc(199px + 138.5 * (100vw - 700px) / 500);
    top: calc(272px + 193.625 * (100vw - 700px) / 500);
    z-index: 80;
  }
  .pic-family {
    position: absolute;
    width: calc(103px + 74.5 * (100vw - 700px) / 500);
    height: calc(143px + 102.625 * (100vw - 700px) / 500);
    left: calc(298px + 213.25 * (100vw - 700px) / 500);
    right: unset;
    top: calc(243px + 172 * (100vw - 700px) / 500);
    z-index: 90;
  }
}
@media (max-width: 700px) {
  .wrapper {
    display: none;
  }
  .wrapper_mobile-menu {
    display: block;
    background-color: var(--control-color-page-back);
    width: calc(320px + 380 * (100vw - 320px) / 380);
  }
  .wrapper_mobile {
    display: block;
    background-color: var(--control-color-page-back);
    width: calc(320px + 380 * (100vw - 320px) / 380);
  }
  .wrapper_mobile-menu--invisible {
    display: none;
  }
  .wrapper_mobile--invisible {
    display: none;
  }
  .page_mobile {
    display: block;
    height: 100vh;
    max-height: 100vh;
  }
  .top-right-button-background, .top-left-button-background, .bottom-right-button-background, .bottom-left-button-background {
    position: absolute;
    height: calc(50px + 59.6153846154 * (100vw - 320px) / 380);
  }
  .top-right-button-background, .bottom-right-button-background {
    right: 0;
  }
  .top-left-button-background, .bottom-left-button-background {
    left: 0;
  }
  .bottom-right-button-background, .bottom-left-button-background {
    top: 200vh;
  }
  .page_inner {
    height: 100vh;
    max-height: 100vh;
    padding: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
  }
  .startup-page {
    background-image: url("/images/components/mobile/green-circle.svg");
    background-size: calc(446px + 531.7692307692 * (100vw - 320px) / 380);
    background-position-x: calc(9px + 10.7307692308 * (100vw - 320px) / 380);
    background-position-y: calc(366px + 436.3846153846 * (100vw - 320px) / 380);
    background-repeat: no-repeat;
  }
  .startup-page-background {
    height: 100vh;
    max-height: 100vh;
    background-image: url("/images/components/mobile/school.svg");
    background-size: calc(405px + 482.8846153846 * (100vw - 320px) / 380);
    background-position-x: calc(80px + 95.3846153846 * (100vw - 320px) / 380);
    background-position-y: calc(187px + 222.9615384615 * (100vw - 320px) / 380);
    background-repeat: no-repeat;
  }
  .grid_image {
    display: none;
  }
  .grid_image_mobile {
    display: none;
    position: absolute;
    opacity: 0.2;
    top: 0;
    left: 0;
  }
  .header, .footer {
    height: calc(24px + 28.6153846154 * (100vw - 320px) / 380);
    min-height: calc(24px + 28.6153846154 * (100vw - 320px) / 380);
    display: flex;
    flex-direction: row;
  }
  .page-title {
    font-size: calc(20px + 23.8461538462 * (100vw - 320px) / 380);
    font-family: "Montserrat-bold";
    font-weight: 600;
    color: var(--control-color-page-title);
    flex-basis: 80%;
    flex-shrink: 0;
  }
  .menu {
    min-height: 24px;
  }
  .public-info {
    height: calc(106px + 126.3846153846 * (100vw - 320px) / 380);
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .info__name {
    padding-top: calc(30px + 35.7692307692 * (100vw - 320px) / 380);
    width: 50%;
  }
  .info__title {
    font-size: calc(20px + 23.8461538462 * (100vw - 320px) / 380);
    font-family: "Montserrat-bold";
    font-weight: 600;
    color: var(--control-color-page-title);
  }
  .info__subtitle {
    font-size: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    font-family: "OpenSans-bold";
    color: var(--control-color-page-title);
  }
  .info__contacts {
    width: calc(130px + 155 * (100vw - 320px) / 380);
  }
  .info__background {
    position: absolute;
    top: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    width: calc(130px + 155 * (100vw - 320px) / 380);
    right: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
  }
  .info__text {
    position: absolute;
    right: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    width: calc(130px + 155 * (100vw - 320px) / 380);
    top: calc(38px + 45.3076923077 * (100vw - 320px) / 380);
    height: calc(130px + 155 * (100vw - 320px) / 380);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    font-style: normal;
    font-size: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    font-family: "OpenSans-bold";
    font-weight: 600;
    color: var(--control-color-page-title);
  }
  .main-container {
    width: calc(295px + 351.7307692308 * (100vw - 320px) / 380);
    height: calc(414px + 493.6153846154 * (100vw - 320px) / 380);
  }
  .navigation {
    width: calc(68px + 81.0769230769 * (100vw - 320px) / 380);
  }
  .navigation__arrow {
    height: calc(142px + 169.3076923077 * (100vw - 320px) / 380);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .arrow-button-image {
    align-self: center;
    padding-bottom: calc(14px + 16.6923076923 * (100vw - 320px) / 380);
    width: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    height: calc(94px + 112.0769230769 * (100vw - 320px) / 380);
  }
  .arrow-button-image path {
    fill: var(--control-color-button-text);
  }
  .navigation__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: calc(24px + 28.6153846154 * (100vw - 320px) / 380);
    padding-top: calc(24px + 28.6153846154 * (100vw - 320px) / 380);
  }
  .nav-button-image {
    align-self: center;
    z-index: 1;
    width: calc(24px + 28.6153846154 * (100vw - 320px) / 380);
  }
  .nav-button-image path {
    fill: var(--control-color-button-text);
  }
  .main-menu, .bottom-menu {
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: calc(100vw - 6px - 6px);
  }
  .bottom-menu {
    justify-content: space-between;
  }
  .main-menu_background {
    background-image: url("/images/components/mobile/teacher-left.svg");
    background-size: calc(142px + 169.3076923077 * (100vw - 320px) / 380);
    background-position-x: calc(164px + 195.5384615385 * (100vw - 320px) / 380);
    background-position-y: calc(220px + 262.3076923077 * (100vw - 320px) / 380);
    background-repeat: no-repeat;
  }
  .close__button, .go-home__button, .menu__button, .nav-prev__button, .nav-next__button {
    background-color: transparent;
    position: relative;
    z-index: 100;
    height: calc(24px + 28.6153846154 * (100vw - 320px) / 380);
    width: calc(24px + 28.6153846154 * (100vw - 320px) / 380);
  }
  .close-button_background {
    position: absolute;
    top: -6px;
    right: 6px;
  }
  .close__button-image, .go-home__button-image, .menu__button-image, .nav-prev__button-image, .nav-next__button-image {
    height: calc(20px + 23.8461538462 * (100vw - 320px) / 380);
  }
  .close__button-image path, .go-home__button-image path, .menu__button-image path, .nav-prev__button-image path, .nav-next__button-image path {
    fill: var(--control-color-button-text);
  }
  .go-home__button-image {
    margin-left: calc(4px + 4.7692307692 * (100vw - 320px) / 380);
  }
  .menus {
    display: flex;
    justify-content: center;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 19px;
  }
  .menu__link {
    font-size: calc(20px + 23.8461538462 * (100vw - 320px) / 380);
    font-family: "Montserrat-bold";
    font-weight: 600;
    color: var(--control-color-page-title);
  }
  .main-container-bells {
    width: calc(308px + 367.2307692308 * (100vw - 320px) / 380);
    height: calc(98px + 116.8461538462 * (100vw - 320px) / 380);
  }
  .current-time {
    font-size: calc(80px + 95.3846153846 * (100vw - 320px) / 380);
    font-family: "Lora";
    color: #E7A9AC;
    text-align: center;
    margin-top: calc(-12px + -14.3076923077 * (100vw - 320px) / 380);
    margin-left: calc(-12px + -14.3076923077 * (100vw - 320px) / 380);
  }
  .current-day {
    font-family: "OpenSans";
    font-size: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    color: var(--control-color-page-sub-title);
    margin-top: calc(-6px + -7.1538461538 * (100vw - 320px) / 380);
    margin-left: calc(204px + 243.2307692308 * (100vw - 320px) / 380);
  }
  .bells-schedule {
    width: calc(308px + 367.2307692308 * (100vw - 320px) / 380);
    height: calc(284px + 338.6153846154 * (100vw - 320px) / 380);
    margin-top: calc(18px + 21.4615384615 * (100vw - 320px) / 380);
  }
  .bells-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-primary300);
    height: calc(24px + 28.6153846154 * (100vw - 320px) / 380);
    width: calc(296px + 352.9230769231 * (100vw - 320px) / 380);
    align-items: center;
  }
  .lessons-number {
    font-family: "OpenSans";
    font-size: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    color: var(--control-color-page-title);
    margin-left: calc(16px + 19.0769230769 * (100vw - 320px) / 380);
  }
  .lessons-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: calc(16px + 19.0769230769 * (100vw - 320px) / 380);
    width: calc(80px + 95.3846153846 * (100vw - 320px) / 380);
  }
  .lesson-start, .lesson-end {
    font-family: "Lora";
    font-size: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    color: var(--control-color-page-title);
  }
  .arrow-selector {
    margin-left: calc(-6px + -7.1538461538 * (100vw - 320px) / 380);
  }
  .main-container-lessons {
    width: calc(308px + 367.2307692308 * (100vw - 320px) / 380);
    height: calc(98px + 116.8461538462 * (100vw - 320px) / 380);
  }
  .lessons-inner {
    margin-top: calc(-36px + -42.9230769231 * (100vw - 320px) / 380);
  }
  .date-selector {
    background-color: transparent;
    margin-left: calc(30px + 35.7692307692 * (100vw - 320px) / 380);
    display: flex;
    flex-direction: row;
    margin-top: calc(30px + 35.7692307692 * (100vw - 320px) / 380);
  }
  .date-number {
    font-size: calc(80px + 95.3846153846 * (100vw - 320px) / 380);
    font-family: "Lora";
    color: #E7A9AC;
  }
  .date-month {
    font-family: "OpenSans";
    font-size: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    color: var(--control-color-page-title);
    margin-top: calc(-16px + -19.0769230769 * (100vw - 320px) / 380);
  }
  .arrow {
    margin-top: calc(50px + 59.6153846154 * (100vw - 320px) / 380);
    margin-left: calc(6px + 7.1538461538 * (100vw - 320px) / 380);
    width: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
  }
  .class-back {
    margin-top: calc(50px + 59.6153846154 * (100vw - 320px) / 380);
    margin-left: calc(6px + 7.1538461538 * (100vw - 320px) / 380);
    width: calc(32px + 38.1538461538 * (100vw - 320px) / 380);
  }
  .date-day {
    font-family: "OpenSans";
    font-size: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    color: var(--control-color-page-sub-title);
    margin-top: calc(98px + 116.8461538462 * (100vw - 320px) / 380);
    margin-left: calc(70px + 83.4615384615 * (100vw - 320px) / 380);
  }
  .calendar-slot {
    width: calc(154px + 183.6153846154 * (100vw - 320px) / 380);
    height: calc(114px + 135.9230769231 * (100vw - 320px) / 380);
    margin-top: calc(-110px + -131.1538461538 * (100vw - 320px) / 380);
    margin-left: calc(150px + 178.8461538462 * (100vw - 320px) / 380);
  }
  .class-selector {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-left: calc(44px + 52.4615384615 * (100vw - 320px) / 380);
  }
  .class-number, .class-letter {
    font-size: calc(20px + 23.8461538462 * (100vw - 320px) / 380);
    font-family: "Lora-bold";
    color: var(--control-color-page-back);
    margin-top: calc(-31px + -36.9615384615 * (100vw - 320px) / 380);
    margin-left: calc(6px + 7.1538461538 * (100vw - 320px) / 380);
    text-transform: capitalize;
  }
  .lessons-schedule {
    width: calc(308px + 367.2307692308 * (100vw - 320px) / 380);
    height: calc(284px + 338.6153846154 * (100vw - 320px) / 380);
    margin-top: calc(18px + 21.4615384615 * (100vw - 320px) / 380);
  }
  .schedule-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(24px + 28.6153846154 * (100vw - 320px) / 380);
    width: calc(292px + 348.1538461538 * (100vw - 320px) / 380);
    align-items: center;
    justify-content: end;
  }
  .arrow-selector {
    height: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
  }
  .lesson-number {
    font-family: "Lora";
    font-size: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    color: var(--control-color-page-title);
    text-align: right;
    margin-right: calc(6px + 7.1538461538 * (100vw - 320px) / 380);
  }
  .lesson-name {
    margin-left: calc(16px + 19.0769230769 * (100vw - 320px) / 380);
    font-family: "OpenSans";
    font-size: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    color: var(--control-color-page-title);
  }
  .lesson-room {
    margin-right: calc(16px + 19.0769230769 * (100vw - 320px) / 380);
    font-family: "Lora";
    font-size: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    color: var(--control-color-page-title);
  }
  .lessons-container {
    flex-basis: 95%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-primary300);
    height: calc(24px + 28.6153846154 * (100vw - 320px) / 380);
    align-items: center;
  }
  .grade-message {
    font-family: "Opensans";
    color: var(--color-primary);
    font-size: 12px;
    padding: 12px;
    text-align: center;
  }
  .grade-form {
    max-width: 135px;
    margin: 0 auto;
  }
  .grade-form .grade-number {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .grade-form .grade-number .grade-number__item {
    width: 32px;
    height: 32px;
    background-color: var(--color-secondary300);
    border-radius: 16px;
    margin: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .grade-form .grade-number .grade-number__item .grade-number__number {
    color: var(--color-secondary);
    font-family: "Lora-bold";
    font-size: 20px;
    line-height: 24px;
  }
  .grade-form .grade-number .grade-number__item .current-number {
    color: var(--color-white);
  }
  .grade-form .grade-number .current-item {
    background-color: var(--color-secondary);
  }
  .grade-form .grade-letter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .grade-form .grade-letter .grade-letter__item {
    width: 32px;
    height: 32px;
    background-color: var(--color-secondary300);
    border-radius: 16px;
    margin: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .grade-form .grade-letter .grade-letter__item .grade-letter__letter {
    color: var(--color-secondary);
    font-family: "Lora-bold";
    font-size: 20px;
    line-height: 24px;
  }
  .grade-form .grade-letter .grade-letter__item .current-letter {
    color: var(--color-white);
  }
  .grade-form .grade-letter .current-item {
    background-color: var(--color-secondary);
  }
  .calendar-container {
    width: 308px;
    height: 290px;
    margin: 0 auto;
  }
  .main-container-calendar {
    height: 40px;
    display: flex;
    flex-direction: row;
  }
  .current-year {
    font-size: 20px;
    font-family: "Lora-bold";
    color: var(--color-primary);
    padding-top: 12px;
    padding-left: 12px;
  }
  .month-container {
    display: flex;
    flex-direction: row;
    margin: 12px auto;
    justify-content: space-between;
  }
  .current-month {
    width: 100px;
    text-align: center;
    font-family: "OpenSans";
    font-size: 12px;
    color: var(--control-color-page-title);
  }
  .arrow-right-calendar, .arrow-left-calendar {
    padding: 6px;
    height: 32px;
  }
  .current-day-of-week {
    font-family: "OpenSans";
    font-size: 12px;
    color: var(--color-secondary);
  }
  .day-names-container-calendar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .days-container-calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .days-container-calendar .day-item {
    width: 32px;
    height: 32px;
    background-color: var(--color-secondary300);
    border-radius: 16px;
    margin: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .days-container-calendar .day-item .day-number {
    color: var(--color-secondary);
    font-family: "Lora-bold";
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
  }
  .days-container-calendar .day-item .not-current-month {
    color: var(--color-quaternary);
  }
  .days-container-calendar .day-item .current {
    color: var(--color-white);
  }
  .days-container-calendar .day-item .weekend {
    color: var(--color-primary);
  }
  .days-container-calendar .day-item .holiday {
    color: var(--color-white);
  }
  .days-container-calendar .not-current-month {
    background-color: var(--color-quaternary300);
  }
  .days-container-calendar .current {
    background-color: var(--color-secondary);
  }
  .days-container-calendar .weekend {
    background-color: var(--color-primary300);
  }
  .days-container-calendar .holiday {
    background-color: var(--color-primary);
  }
  /*


  .grade-form{
    max-width: 152px;
    //width: 152px;
  }

  .grade-number{
    background-color: control-color-var(--control-color-page-back);
    padding: 6px;
  }

  .grade-number-current{
    background-color: transparent;
    padding: 6px;
  }

  .number-current{
    font-family: 'Lora-bold';
    font-size: 20px;
    color: control-color-var(--control-color-page-back);
    margin-top: -31px;
  }

  .grade-number-background{
    width: 32px;
  }

  .grade-number-ordinary{
    background-color: transparent;
    padding: 6px;
  }

  .number-ordinary{
    font-family: 'Lora-bold';
    font-size: 20px;
    color: control-color-var($--control-color-page-sub-title);
    //margin-top: -31px;
  }

  .grade-letter{
    background-color:control-color-var(--control-color-page-back);
    padding: 6px;
  }

  .grade-letter-current{
    background-color: transparent;
    padding: 6px;
  }

  .letter-current{
    font-family: 'Lora-bold';
    font-size: 20px;
    color: control-color-var(--control-color-page-back);
    margin-top: -31px;
    text-transform: uppercase;
  }

  .grade-letter-ordinary{
    background-color: transparent;
    padding: 6px;
  }

  .letter-ordinary{
    font-family: 'Lora-bold';
    font-size: 20px;
    color: control-color-var($--control-color-page-sub-title);
    margin-top: -31px;
    text-transform: uppercase;
  } */
  .main-container-activity {
    width: 296px;
    display: grid;
    height: 480px;
    grid-template-columns: 8.42% 31.1% 60.47%;
    grid-template-rows: 7.31% 12.91% 36.87% 6.04% 5.83% 10.42% 13.75% 6.87%;
  }
  .survival-title {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    line-height: 62px;
    vertical-align: bottom;
    font-family: "Breamcatcher";
    font-size: 36px;
    text-transform: uppercase;
  }
  .questions-list {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: right;
    padding-right: 26px;
  }
  .question-item, .bonus {
    font-family: "Breamcatcher";
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 12px;
    line-height: 18px;
  }
  .bonus {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 3;
    color: red;
    text-align: right;
    padding-right: 26px;
    font-size: 16px;
    line-height: 28px;
    vertical-align: bottom;
  }
  .slogan-bottom-line, .slogan-top-line {
    font-family: "Breamcatcher";
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }
  .slogan-top-line {
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    line-height: 54px;
    vertical-align: bottom;
  }
  .slogan-bottom-line {
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 4;
    line-height: 66px;
    vertical-align: middle;
  }
  .slogan-middle {
    font-size: 64px;
  }
  .teacher {
    grid-row-start: 8;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: "OpenSans";
    font-size: 12px;
    text-align: center;
    color: var(--control-color-page-title);
  }
  .phone-vertical-left {
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 12px;
  }
  .phone-item {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    font-family: "Lora", serif;
  }
  .boy-activity {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 2;
    height: 234px;
    margin-left: 12px;
  }
  .schedule-activity {
    font-family: "OpenSans";
    font-size: 12px;
    text-align: center;
    color: var(--control-color-page-title);
  }
  .surv-act-background-red {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 3;
  }
  .set-top {
    z-index: 30;
  }
  .grid-in-bell {
    top: 100vh;
  }
  .background-in-bell {
    top: calc(100vh - 6px);
  }
  .button-in-bell {
    top: calc(100vh - 6px);
  }
  .image-in-bell {
    top: calc(100vh + 6px);
  }
  .main-container-theatre {
    width: calc(296px + 352.9230769231 * (100vw - 320px) / 380);
    display: grid;
    height: calc(480px + 572.3076923077 * (100vw - 320px) / 380);
    grid-template-columns: 50% 43.9% 6.1%;
    grid-template-rows: 10.8% 27% 56.25% 5.95%;
  }
  .theatre-title {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    line-height: calc(52px + 62 * (100vw - 320px) / 380);
    vertical-align: middle;
    font-family: "Pobeda";
    font-size: calc(36px + 42.9230769231 * (100vw - 320px) / 380);
    text-transform: uppercase;
  }
  .theatre-act-back-green {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-left: calc(38px + 45.3076923077 * (100vw - 320px) / 380);
    width: calc(117px + 139.5 * (100vw - 320px) / 380);
  }
  .theatre-first-text {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    font-family: "Larisa";
    font-size: calc(20px + 23.8461538462 * (100vw - 320px) / 380);
    margin-left: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    margin-top: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
  }
  .theatre-act-back-blue {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: calc(-55px + -65.5769230769 * (100vw - 320px) / 380);
    margin-top: calc(22px + 26.2307692308 * (100vw - 320px) / 380);
    width: calc(179px + 213.4230769231 * (100vw - 320px) / 380);
  }
  .theatre-second-text {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    font-family: "Larisa";
    font-size: calc(35px + 41.7307692308 * (100vw - 320px) / 380);
    margin-left: calc(-26px + -31 * (100vw - 320px) / 380);
    margin-top: calc(72px + 85.8461538462 * (100vw - 320px) / 380);
    color: var(--control-color-page-title);
  }
  .family-activity {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    height: calc(270px + 321.9230769231 * (100vw - 320px) / 380);
    margin-left: calc(6px + 7.1538461538 * (100vw - 320px) / 380);
  }
  .theatre-teacher, .theatre-schedule {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: "OpenSans";
    font-size: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
    text-align: center;
    color: var(--control-color-page-title);
  }
  .theatre-schedule {
    margin-top: calc(16px + 19.0769230769 * (100vw - 320px) / 380);
  }
  .phone-vertical-right {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: calc(12px + 14.3076923077 * (100vw - 320px) / 380);
  }
  .phone-item-second {
    transform: rotate(0deg);
    writing-mode: vertical-rl;
    font-family: "Lora", serif;
    font-size: calc(14px + 16.6923076923 * (100vw - 320px) / 380);
  }
}
/*
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'OpenSans', sans-serif;
*/