@font-face {
    font-family: "Breamcatcher";
    src: url("../../fonts/breamcatcher.otf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Pobeda";
    src: url("../../fonts/pobeda.ttf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Larisa";
    src: url("../../fonts/larisa.ttf");
    font-weight: normal;
  }