@font-face {
    font-family: "Breamcatcher";
    src: url("../../fonts/breamcatcher.otf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Pobeda";
    src: url("../../fonts/pobeda.ttf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Larisa";
    src: url("../../fonts/larisa.ttf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Lora";
    src: url("../../fonts/Lora-Regular.ttf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Lora-bold";
    src: url("../../fonts/Lora-SemiBold.ttf");
    font-weight: 600;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat-Regular.ttf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Montserrat-bold";
    src: url("../../fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "OpenSans";
    src: url("../../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
  } 

  @font-face {
    font-family: "OpenSans-bold";
    src: url("../../fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
  } 