@use 'sass:math';

// to %
@function prc($pxOne, $pxTwo) {
    $result: math.div(pxOne, pxTwo) * 100%;
    @return $result;
}

// to REM
@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}

// to EM
@function em($px) {
    $result: math.div($px, 16) + em;
    @return $result;
}


@function color-var($key, $map: $color-map-light, $fallback: null) {
    @if not map-has-key($map, $key) {
        @error "key: '#{$key}', is not a key in map: #{$map}";
    }
    @if ($fallback) {
        @return var($key, $fallback);
    } @else {
        @return var($key);
    }
}

@function control-color-var($key, $fallback: null, $map: $control-color-map-light) {
    @if not map-has-key($map, $key) {
        @error "key: '#{$key}', is not a key in map: #{$map}";
    }
    @if ($fallback) {
        @return var($key, $fallback);
    } @else {
        @return var($key);
    }
}
