.page__theme-indicator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  right: 10px;
  top: 10px;
  z-index: 100;
  position: fixed; /* Set the indicator to fixed position */
}

.theme-indicator {
    border-width: 3px;// solid control-color-var($--control-color-button-border);
    border-radius: 18px;
    width: 38px;
    height: 38px;
    text-align: center;
    vertical-align: baseline;
    margin-bottom: 10px;
    cursor: pointer;
    
  }



  svg.theme-indicator circle, svg.theme-indicator path  {
    fill: control-color-var($--control-color-button-back);
    stroke: control-color-var($--control-color-button-back);
  }

  
  
  
  .indicator-image-dark {
    //background-color: control-color-var($--control-color-button-back);
    //border-color: control-color-var($--control-color-button-border);
    //cursor: pointer;
    display: block;
  }

  .indicator-image-dark.active {
    //background-color: control-color-var($--control-color-button-back-inactive);
    //border-color: control-color-var($--control-color-button-border-inactive);
    //cursor: default;
    display: none;
  }

  .indicator-image-light {
    //background-color: control-color-var($--control-color-button-back);
    //border-color: control-color-var($--control-color-button-border);
    //cursor: pointer;
    display: block;
  }
 
  .indicator-image-light.active {
    //background-color: control-color-var($--control-color-button-back-inactive);
    //border-color: control-color-var($--control-color-button-border-inactive);
    //cursor: default;
    display: none;
  }
  
  .page__theme-indicator-image {
    height: 32px;
    width: 32px;
    //cursor: pointer;
    //display: none;
  }
  
  
  .indicator-image-auto {
    display: none;
  }
  
  .indicator-image-auto.active {
    display: block;
  }

  .indicator-image-empty {
    display: block;
    //border: 0;
  }

  .indicator-image-empty.active {
    display: none;
  }
  
