.page__theme-indicator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  //width: 38px;
  //height: 38px;
  //position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  position: fixed; /* Set the indicator to fixed position */
}

.theme-indicator {
    background-color: control-color-var($--control-color-button-back);
    color: control-color-var($--control-color-button-text);
    border: 3px solid control-color-var($--control-color-button-border);
    border-radius: 18px;
    width: 38px;
    height: 38px;
    text-align: center;
    vertical-align: baseline;
    margin-bottom: 10px;
  }
  
  // .reset-indicator {
  //   right: 0;
  //   top: 0;
  //   height: 15px;
  //   width: 15px;
  //   z-index: 10;
  //   cursor: pointer;
  //   float: right;
  // }
  
  
  
  // .indicator-image-dark {
   
  // }
  
  // .indicator-image-light {
  
  // }
  
  .page__theme-indicator-image {
    height: 32px;
    width: 32px;
    cursor: pointer;
    //display: none;
  }
  
  // .page__theme-indicator-image.active {
  //   display: block;
  // }
  
  // .page__theme-indicator_change {
  // }
  
  .indicator-image-auto {
    display: none;
  }
  
  .indicator-image-auto.active {
    display: block;
  }
  
  // .reset-indicator-image {
  //   height: 10px;
  //   width: 10px;
  // }
  